table {
    
    width: 100%;
    max-width: 100rem;
    border-collapse: collapse;
    text-align: center;
    border-radius: 8px;
    
  }
  .tablecenter{
    display: flex;
    justify-content: center;
    padding: 4rem;
    
  }
  @media (max-width: 1200px) {
    .delete {
      display: none;
    }
    .delete2{
     margin-left: auto;
     margin-right: auto;
    }
  }
    @media (min-width: 1200px) {
      .delete2 {
        display: none;
      }
    
  
   
  }
  
  th, td {
    border: 1px solid #F6D58E;
    padding: 10px;
    
  }
  
  thead tr:first-child th {
    background-color: rgba(12, 29, 37, 0.87);
    color: white;
    font-size: 18px;
    padding: 15px;
  }
  
  thead tr:nth-child(2) th {
    background-color: rgba(12, 29, 37, 0.87);
    color: white;
    font-size: 16px;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(12, 29, 37, 0.87);
    color: #F6D58E;
  }


  .hero-background-grafik {
    padding: 2rem;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 600px;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6rem;
    text-align: center;
  }
  
  .hero-background-grafik::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(160deg, rgba(11, 28, 35, 0.785) 0%, rgba(0, 0, 0, 0.81) 100%);
    opacity: 0.8;
    z-index: -1;
  }

