#mainkontakt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem;
    gap: 4rem;
    
    @media (max-width:40rem){
      flex-wrap: wrap; ;
    }
  }
  


  .main3kontakt{
    
    white-space: pre-line;
    line-height: 1;
  }

  .houers-open{
    margin-top: 2rem;
  }

  .message-box {
    width: 100%;
    max-width: auto;  
    height: 150px;  
    resize: none;  
    border-radius: 5px;
    color: #F6D58E;
}

input{
  width: 15rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 36rem;
  max-width: 48rem;  
  background-color: rgba(12, 29, 37, 0.87) ;  
  padding: 2rem; 
  border-radius: 8px;  
  border-style: solid;
}

h3{
  color: white;
}
a{
  color: #F6D58E;
}
a:hover{
  color: white;
}
form h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  
}


label {
  font-weight: bold;
  margin-top: 10px;      
  color: #F6D58E;
}


input, textarea {
  width: 100%;  
  padding: 10px;
  margin-top: 5px; 
  margin-bottom: 10px; 
  border: 1px solid #F6D58E; 
  border-radius: 5px;
  color: #F6D58E;
}


button {
  width: 60%;
  padding: 12px;
  background-color: rgba(12, 29, 37, 0.87);
  color: #F6D58E;
  border-style: solid;
  border-color: #F6D58E;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  
}

button:hover {
  scale: 1.1;
  background-color: #F6D58E;
    color: #081419;
    
}

.required{
  color: red;
}

.hero-background-kontakt {
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 600px;
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;
    text-align: center;
}

.hero-background-kontakt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(160deg, rgba(11, 28, 35, 0.785) 0%, rgba(0, 0, 0, 0.81) 100%);
  opacity: 0.8;
  z-index: -1; /* Ustawiamy tło poniżej treści */
}

@media (max-width: 1400px){
  .form-container{
    width: auto;
  }
}

@media (max-width: 1200px){
  iframe {
    display: none;
  }

  .form-container{
    min-width: 75vw;
  }
  #mainkontakt{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Wyśrodkowanie w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
  }
}


input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea {
  background-color: rgba(12, 29, 37, 0.87);  
  padding: 10px;  
  border-radius: 5px;  
  border: 1px solid #F6D58E;  
}


input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
textarea:focus {
  background-color: #F6D58E;  
  border: none;
  outline: none;
  color: rgba(12, 29, 37, 0.87);
}

