@import url('layout/header.css');
@import url('layout/footer.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: montserrat;
  color: #13323D;
  background-image: url(images/main.png) no-repeat center center fixed;
  height: 30vh;
  background-size: cover; 
  position: relative;
  padding: 0;
  margin: 0;
  
 
  
}

/* Główna zawartość */
main {
  margin-top: 100px;
  padding: 40px;
  height: 2000px;
  background: linear-gradient(white, lightgray);
}

/* Responsywność */
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.gora{
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
}

.main2{
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;
 
  
  
}

.main3{
  width: 600px;
  background-color: rgba(245, 245, 245, 1) ;
  color: #13323D;
  padding: 3rem 3rem ; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  
  
  
  
  


}

.main3 h2{
  text-align: left;
}

.main3 ul{
  list-style: none; 
}

.main3 p{
text-decoration: line-through;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.price button{
  color: white;
  margin-left: auto;
  padding: 5px 20px 5px 20px;
  border-style: none;
  background-color: #D32F2F;
  border-radius: 10px;
  
}

.price button:hover{
  scale: 1.2;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  
}

thead tr:first-child th {
  background-color: #D32F2F;
  color: white;
  font-size: 18px;
  padding: 15px;
}

thead tr:nth-child(2) th {
  background-color: #13323D;
  color: white;
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

