.container{
    display: flex;
    flex-direction: column;
}
.main2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem ;
    
}
.main3{
    text-align: center;
    white-space: pre-line;
}

.mainh2{
    color: white;
    margin-bottom: -1rem;
}

.button1{
    margin-top: 2rem;
    margin-right: 18rem;
    color: #F6D58E;
    margin-left: auto;
    padding: 5px 30px;
   
    background-color: rgba(12, 29, 37, 0.87);
    border-radius: 10px;
    border-style: solid;
    border-color: #F6D58E;
}

.button1:hover{
    scale: 1.2;
    background-color:#F6D58E;
    color: rgba(12, 29, 37, 0.87);
}


.main2 pngmariusz{
    width: 100%; /* Dopasowanie do szerokości */
    height: auto; /* Zachowanie proporcji */
}

.main4{
    display: flex;
    flex-direction: row ;
    text-align: center;
    white-space: pre-line;
    column-gap: 6rem;
    flex-wrap: wrap;
    

}
.main5{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
}
.main6{
    text-align: center;
    max-width: 32rem;
    height: 28rem;
    
}

ul{
    text-align: left;
    
    margin-left: 2rem
     ;
}

.pchange{
    margin-top: -2rem;
}



ul {
    padding: 0;
    margin-left: 2rem;
    list-style: none; 
    color: white;
}

ul li::before {
    content: "💪 ";   
}

.main7{
   text-align: center;
   padding: 6rem 25rem;
   background-image: url(../images/background.jpg) ;
   background-size: cover;
   color: white;
}