main{
    margin-top: 10rem;
}
h1{
    text-align: center;
}

.maintrener
{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.main2trener{
    
    display: flex;
    flex-direction: column;
    
}
.main3trener{
    background-color: rgba(245, 245, 245, 1) ;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 3rem 3rem;
    
}

.pngtrener{
    height: 12rem;
}

.pngtrener:hover{
    transform: scale(1.2);
}