main{
    margin-top: 10rem;
}
h1{
    text-align: center;
}

.maintrener
{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    
}
.main2trener{
    
    display: flex;
    flex-direction: column;
    width: 32rem;
    background-color: rgba(12, 29, 37, 0.87) ;
    padding: 2rem 2rem;
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    

    
}
h3 {
    margin-bottom: 2rem; 
    text-align: center;
    
}

.image-container {
    position: relative; 
    overflow: hidden; 
}

.pngtrener {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s ease-in-out;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Przyciemnienie obrazka */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}



.overlay-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.image-container:hover .overlay {
    opacity: 1; /* Wyświetla overlay przy najechaniu */
}


.image-container:hover .pngtrener {
    transform: scale(1.1); /* Powiększa obrazek przy najechaniu */
}


.hero-background-trenerzy {
    position: relative;
    z-index: 1;
    height: 60vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-background-trenerzy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(160deg, rgba(11, 28, 35, 0.785) 0%, rgba(0, 0, 0, 0.81) 100%);
    opacity: 0.8;
    z-index: -1; /* Ustawiamy tło poniżej treści */
  }

  .nickname{
    color: white;
  }