/* Resetowanie stylów domyślnych */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #13323D;
  background-image: url(images/main.png) no-repeat center center fixed;
  height: 100vh;
  background-size: cover; 
  position: relative;
  padding: 0;
  margin: 0;
 
  
}

/* Nagłówek (header) */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background-color: rgba(19, 50, 61, 0.5);
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

/* Nagłówek po scrollu */
header.scrolled {
  background-color: #13323D;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 40px;
}

/* Logo */
.logo {
  height: 8rem;
  transition: height 0.3s ease;
  margin-left: 10px;
}

/* Logo po scrollu */
header.scrolled .logo {
  height: 40px;
}

/* Nawigacja */
nav {
  display: flex;
  gap: 20px;
}

/* Linki w menu */
nav a {
  text-decoration: none;
  color: red;
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
}

/* Efekt najechania */
nav a:hover {
  transform: scale(1.2);
  text-decoration: underline;
  color: white;
}

/* Aktywna podstrona */
nav a.active {
  color: white;
  font-weight: 700;
}

/* Główna zawartość */
main {
  margin-top: 100px;
  padding: 40px;
  height: 2000px;
  background: linear-gradient(white, lightgray);
}

/* Responsywność */
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.gora{
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
}

.main2{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px;
  gap: 30px;
}

.main3{
  width: 600px;
  background-color: rgba(245, 245, 245, 1) !important;
  color: #13323D;
  padding: 3rem 3rem ; 
  
  
  


}

.main3 h2{
  text-align: left;
}

.main3 ul{
  list-style: none; 
}

.main3 p{
text-decoration: line-through;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.price button{
  margin-left: auto;
  padding: 5px 20px 5px 20px;
  border-style: none;
  background-color: #D32F2F;
  border-radius: 10px;
}

.price button:hover{
  scale: 1.2;
}

#footermain{
  background-color: #13323D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.footer1{
  background-color: #13323D;
  width: 20rem;
  padding: 20px;
  color: #D32F2F;
}

.footer1 a{
  text-decoration: none;
  color: #D32F2F;
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
}

.footer1 a:hover{
  transform: scale(1.2);
  text-decoration: underline;
  color: white;
}

.footer1 a.active{
  color: white;
  font-weight: 700;
}

.footer1 img{
  width: 18rem;
  
}