#footermain{
    background-color: #f6d58e00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer1{
    width: 20rem;
    padding: 20px;
    color: #F6D58E;
   
  }
  
  .footer1 a{
    text-decoration: none;
    color: #F6D58E;
    font-weight: 500;
    transition: all 0.2s ease;
    position: relative;
  }
  
  .footer1 a:hover{
    transform: scale(1.2);
    text-decoration: underline;
    color: white;
  }
  
  .footer1 a.active{
    color: white;
    font-weight: 700;
  }
  
  .footer1 img{
    width: 18rem;
    
  }