/* Nagłówek (header) */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background-color: rgba(19, 50, 61, 0.785);
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Nagłówek po scrollu */
header.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.107);
}

header.scrolled nav {
  font-size: 18px;
}
/* Logo */
.logo {
  height: 8rem;
  transition: height 0.3s ease;
  margin-left: 10px;
}

/* Logo po scrollu */
header.scrolled .logo {
  height: 40px;
}

/* Nawigacja */
nav {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

/* Linki w menu */
nav a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Efekt najechania */
nav a:hover {
  transform: scale(1.2);
  color: #D32F2F;
}

/* Aktywna podstrona */
nav a.active {
  color: #D32F2F;
  font-weight: 700;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #D32F2F;
  transition: width 0.3s ease;
}


nav a:hover::after {
  width: 100%;
}
