/* Nagłówek (header) */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background-color: rgba(19, 50, 61, 0.785);
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Nagłówek po scrollu */
header.scrolled {
  background-color: #13323D;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.107);
  padding: 10px 40px;
}

/* Logo */
.logo {
  height: 8rem;
  transition: height 0.3s ease;
  margin-left: 10px;
}

/* Logo po scrollu */
header.scrolled .logo {
  height: 40px;
}

/* Nawigacja */
nav {
  display: flex;
  gap: 20px;
}

/* Linki w menu */
nav a {
  text-decoration: none;
  color: red;
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
}

/* Efekt najechania */
nav a:hover {
  transform: scale(1.2);
  text-decoration: underline;
  color: white;
}

/* Aktywna podstrona */
nav a.active {
  color: white;
  font-weight: 700;
}