<div id="footermain" >
    <div class="footer1">
        <a href="/projektwww/index.html"><img src="images/logo2.png"></img></a>
    </div>
    <div class="footer1">
        <h3>Kontakt</h3>
        <br>
        <br>
        Adres: ul. Sportowa 10, 00-000 Warszawa
        <br>
        Telefon: <a href="tel:+48123456789">85 123 456 789</a></p>
        <br>
        <h3>Godziny otwarcia:</h3>
        <br>
        <br>
        Poniedziałek – Piątek: 07:00 – 21:00
        <br>
        Sobota: 09:00 – 19:00
        <br>
        Niedziela: 10:00 – 16:00
    </div>
    <div class="footer1">
        <h3>Menu </h3>
            <br>
            <br>
            <a href="index.html" class="active">Start</a>
            <br>
            <br>
            <a href="karnety.html">Karnety</a>
            <br>
            <br>
            <a href="grafik.html">Grafik</a>
            <br>
            <br>
            <a href="trenerpersonalny.html">Trener Personalny</a>
            <br>
            <br>
            <a href="kontakt.html">Kontakt</a>
          
    </div>
</div>