<div class="main-header">
    <img src="images/logo2.png" alt="Logo" class="logo" />
    
    <nav>
        <a href="index.html">Start</a>
        <a href="karnety.html">Karnety</a>
        <a href="grafik.html">Grafik</a>
        <div class="dropdown">
            <a href="trenerpersonalny.html">
              Trener Personalny <span class="point">˅</span>
            </a>
            <div class="dropdown-content">
              <a href="mariusz.html">Mariusz Pudzianowski</a>
              <a href="robert.html">Robert Burnejka</a>
              <a href="owca.html">Michał Owczarzak</a>
            </div>
          </div> 
             
        <a href="sklep.html">Sklep</a>
        <a href="kontakt.html">Kontakt</a>
    </nav>
</div>