<div class="main-header">
  <a href="../index.html">
    <img src="images/logo2.png" alt="Logo" class="logo">
  </a>

  <button class="hamburger" aria-label="Otwórz menu" aria-expanded="false">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <nav class="main-nav">
    <a href="index.html">Start</a>
    <a href="karnety.html">Karnety</a>
    <a href="grafik.html">Grafik</a>
    <div class="dropdown">
      <a href="trenerpersonalny.html">
        Trener Personalny <span class="point">˅</span>
      </a>
      <div class="dropdown-content">
        <a href="mariusz.html">Mariusz Pudzianowski</a>
        <a href="robert.html">Robert Burnejka</a>
        <a href="owca.html">Michał Owczarzak</a>
      </div>
    </div>
    <a href="kontakt.html">Kontakt</a>
  </nav>
</div>
